
.Timeline,
.Blog,
.Contact,
.Resume,
.Publication,
.About {
  position: relative;
  margin: 1rem 0;
  left: 0;
  right: 0;
}

@media (min-width: 900px) {
  .Timeline,
  .Blog,
  .Contact {
    right: 30vw;
    left: auto;
    text-align: right;
  }
  .Resume,
  .Publication,
  .About {
    left: 30vw;
    right: auto;
    text-align: left;
  }
  .Timeline {
    margin-bottom: 5vh;
  }
  .Contact {
    margin-top: 5vh;
  }
  .Publication {
    margin-top: 5vh;
  }
  .About {
    margin-bottom: 5vh;
  }
}

@media (max-width: 900px) {
  .Timeline,
  .Blog,
  .Contact,
  .Resume,
  .Publication,
  .About {
    left: 0;
    right: 0;
    text-align: center;
    margin: 1rem 0;
  }
}